<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 商品管理的service -->
    <bean id="itemsService" class="com.ylm.service.DcUserServiceImpl"/>
    <bean id="adminService" class="com.ylm.service.AdminServiceImpl"/>
    <bean id="boardService" class="com.ylm.service.DcBoardServiceImpl"/>
    <bean id="foodService" class="com.ylm.service.DcFoodServiceImpl"/>
    <bean id="foodTypeService" class="com.ylm.service.DcFoodTypeServiceImpl"/>

</beans>