<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylm.mapper.DcFoodtypeMapper" >
  <resultMap id="BaseResultMap" type="com.ylm.pojo.DcFoodtype" >
    <id column="foodtype_id" property="foodtypeId" jdbcType="INTEGER" />
    <result column="foodtype_name" property="foodtypeName" jdbcType="VARCHAR" />
    <result column="foodtype_isDel" property="foodtypeIsdel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    foodtype_id, foodtype_name, foodtype_isDel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ylm.pojo.DcFoodtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_foodtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dc_foodtype
    where foodtype_id = #{foodtypeId,jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    UPDATE dc_foodtype
    SET foodtype_isDel = 1
    where foodtype_id = #{foodtypeId,jdbcType=INTEGER}
  </update>
  <delete id="deleteByExample" parameterType="com.ylm.pojo.DcFoodtypeExample" >
    delete from dc_foodtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ylm.pojo.DcFoodtype" >
    insert into dc_foodtype (foodtype_id, foodtype_name, foodtype_isDel
      )
    values (#{foodtypeId,jdbcType=INTEGER}, #{foodtypeName,jdbcType=VARCHAR}, #{foodtypeIsdel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylm.pojo.DcFoodtype" >
    insert into dc_foodtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodtypeId != null" >
        foodtype_id,
      </if>
      <if test="foodtypeName != null" >
        foodtype_name,
      </if>
      <if test="foodtypeIsdel != null" >
        foodtype_isDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodtypeId != null" >
        #{foodtypeId,jdbcType=INTEGER},
      </if>
      <if test="foodtypeName != null" >
        #{foodtypeName,jdbcType=VARCHAR},
      </if>
      <if test="foodtypeIsdel != null" >
        #{foodtypeIsdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylm.pojo.DcFoodtypeExample" resultType="java.lang.Integer" >
    select count(*) from dc_foodtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_foodtype
    <set >
      <if test="record.foodtypeId != null" >
        foodtype_id = #{record.foodtypeId,jdbcType=INTEGER},
      </if>
      <if test="record.foodtypeName != null" >
        foodtype_name = #{record.foodtypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.foodtypeIsdel != null" >
        foodtype_isDel = #{record.foodtypeIsdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_foodtype
    set foodtype_id = #{record.foodtypeId,jdbcType=INTEGER},
      foodtype_name = #{record.foodtypeName,jdbcType=VARCHAR},
      foodtype_isDel = #{record.foodtypeIsdel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylm.pojo.DcFoodtype" >
    update dc_foodtype
    <set >
      <if test="foodtypeName != null" >
        foodtype_name = #{foodtypeName,jdbcType=VARCHAR},
      </if>
      <if test="foodtypeIsdel != null" >
        foodtype_isDel = #{foodtypeIsdel,jdbcType=INTEGER},
      </if>
    </set>
    where foodtype_id = #{foodtypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylm.pojo.DcFoodtype" >
    update dc_foodtype
    set foodtype_name = #{foodtypeName,jdbcType=VARCHAR},
      foodtype_isDel = #{foodtypeIsdel,jdbcType=INTEGER}
    where foodtype_id = #{foodtypeId,jdbcType=INTEGER}
  </update>
  <update id="deleteByPrimaryKeys" parameterType="java.util.List">
    UPDATE dc_foodtype
    SET foodtype_isDel = 1
    WHERE foodtype_id in
    <foreach collection="list" index="index" item="item"
             separator="," open="(" close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>