<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylm.mapper.DcOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ylm.pojo.DcOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="board_id" property="boardId" jdbcType="INTEGER" />
    <result column="order_people_number" property="orderPeopleNumber" jdbcType="INTEGER" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="order_board_date" property="orderBoardDate" jdbcType="DATE" />
    <result column="order_board_time_interval" property="orderBoardTimeInterval" jdbcType="VARCHAR" />
    <result column="order_total_amount" property="orderTotalAmount" jdbcType="DECIMAL" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <result column="order_food" property="orderFood" jdbcType="VARCHAR" />
    <result column="order_food_num" property="orderFoodNum" jdbcType="VARCHAR" />
    <result column="order_paid" property="orderDiscountAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, board_id, order_people_number, order_date, order_board_date, order_board_time_interval, 
    order_total_amount, order_status, user_id, coupon_id, order_food, order_food_num, 
    order_paid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ylm.pojo.DcOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dc_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <select id="selectOrderNum" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM dc_order
    WHERE order_board_date
    BETWEEN #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dc_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ylm.pojo.DcOrderExample" >
    delete from dc_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.util.List">
    DELETE FROM dc_order
    WHERE order_id IN
    <foreach collection="list" index="index" item="item"
             separator="," open="(" close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.ylm.pojo.DcOrder" >
    insert into dc_order (order_id, board_id, order_people_number, 
      order_date, order_board_date, order_board_time_interval, 
      order_total_amount, order_status, user_id, 
      coupon_id, order_food, order_food_num, 
      order_paid)
    values (#{orderId,jdbcType=VARCHAR}, #{boardId,jdbcType=INTEGER}, #{orderPeopleNumber,jdbcType=INTEGER}, 
      #{orderDate,jdbcType=TIMESTAMP}, #{orderBoardDate,jdbcType=DATE}, #{orderBoardTimeInterval,jdbcType=VARCHAR}, 
      #{orderTotalAmount,jdbcType=DECIMAL}, #{orderStatus,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{couponId,jdbcType=VARCHAR}, #{orderFood,jdbcType=VARCHAR}, #{orderFoodNum,jdbcType=VARCHAR}, 
      #{orderDiscountAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ylm.pojo.DcOrder" >
    insert into dc_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="boardId != null" >
        board_id,
      </if>
      <if test="orderPeopleNumber != null" >
        order_people_number,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="orderBoardDate != null" >
        order_board_date,
      </if>
      <if test="orderBoardTimeInterval != null" >
        order_board_time_interval,
      </if>
      <if test="orderTotalAmount != null" >
        order_total_amount,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="orderFood != null" >
        order_food,
      </if>
      <if test="orderFoodNum != null" >
        order_food_num,
      </if>
      <if test="orderDiscountAmount != null" >
        order_paid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="boardId != null" >
        #{boardId,jdbcType=INTEGER},
      </if>
      <if test="orderPeopleNumber != null" >
        #{orderPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderBoardDate != null" >
        #{orderBoardDate,jdbcType=DATE},
      </if>
      <if test="orderBoardTimeInterval != null" >
        #{orderBoardTimeInterval,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalAmount != null" >
        #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="orderFood != null" >
        #{orderFood,jdbcType=VARCHAR},
      </if>
      <if test="orderFoodNum != null" >
        #{orderFoodNum,jdbcType=VARCHAR},
      </if>
      <if test="orderDiscountAmount != null" >
        #{orderDiscountAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylm.pojo.DcOrderExample" resultType="java.lang.Integer" >
    select count(*) from dc_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.boardId != null" >
        board_id = #{record.boardId,jdbcType=INTEGER},
      </if>
      <if test="record.orderPeopleNumber != null" >
        order_people_number = #{record.orderPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderBoardDate != null" >
        order_board_date = #{record.orderBoardDate,jdbcType=DATE},
      </if>
      <if test="record.orderBoardTimeInterval != null" >
        order_board_time_interval = #{record.orderBoardTimeInterval,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTotalAmount != null" >
        order_total_amount = #{record.orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.couponId != null" >
        coupon_id = #{record.couponId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderFood != null" >
        order_food = #{record.orderFood,jdbcType=VARCHAR},
      </if>
      <if test="record.orderFoodNum != null" >
        order_food_num = #{record.orderFoodNum,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDiscountAmount != null" >
        order_paid = #{record.orderDiscountAmount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_order
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      board_id = #{record.boardId,jdbcType=INTEGER},
      order_people_number = #{record.orderPeopleNumber,jdbcType=INTEGER},
      order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      order_board_date = #{record.orderBoardDate,jdbcType=DATE},
      order_board_time_interval = #{record.orderBoardTimeInterval,jdbcType=VARCHAR},
      order_total_amount = #{record.orderTotalAmount,jdbcType=DECIMAL},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      coupon_id = #{record.couponId,jdbcType=VARCHAR},
      order_food = #{record.orderFood,jdbcType=VARCHAR},
      order_food_num = #{record.orderFoodNum,jdbcType=VARCHAR},
      order_paid = #{record.orderDiscountAmount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylm.pojo.DcOrder" >
    update dc_order
    <set >
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=INTEGER},
      </if>
      <if test="orderPeopleNumber != null" >
        order_people_number = #{orderPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderBoardDate != null" >
        order_board_date = #{orderBoardDate,jdbcType=DATE},
      </if>
      <if test="orderBoardTimeInterval != null" >
        order_board_time_interval = #{orderBoardTimeInterval,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalAmount != null" >
        order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="orderFood != null" >
        order_food = #{orderFood,jdbcType=VARCHAR},
      </if>
      <if test="orderFoodNum != null" >
        order_food_num = #{orderFoodNum,jdbcType=VARCHAR},
      </if>
      <if test="orderDiscountAmount != null" >
        order_paid = #{orderDiscountAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylm.pojo.DcOrder" >
    update dc_order
    set board_id = #{boardId,jdbcType=INTEGER},
      order_people_number = #{orderPeopleNumber,jdbcType=INTEGER},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      order_board_date = #{orderBoardDate,jdbcType=DATE},
      order_board_time_interval = #{orderBoardTimeInterval,jdbcType=VARCHAR},
      order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=VARCHAR},
      order_food = #{orderFood,jdbcType=VARCHAR},
      order_food_num = #{orderFoodNum,jdbcType=VARCHAR},
      order_paid = #{orderDiscountAmount,jdbcType=DECIMAL}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>