<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylm.mapper.DcSysOperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.ylm.pojo.DcSysOperateLog" >
    <id column="ol_id" property="olId" jdbcType="INTEGER" />
    <result column="ol_type" property="olType" jdbcType="VARCHAR" />
    <result column="ol_module" property="olModule" jdbcType="VARCHAR" />
    <result column="ol_content" property="olContent" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="ol_add_date" property="olAddDate" jdbcType="TIMESTAMP" />
    <result column="ol_ip" property="olIp" jdbcType="VARCHAR" />
    <result column="ol_remarks" property="olRemarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ol_id, ol_type, ol_module, ol_content, admin_id, ol_add_date, ol_ip, ol_remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ylm.pojo.DcSysOperateLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_sys_operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dc_sys_operate_log
    where ol_id = #{olId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dc_sys_operate_log
    where ol_id = #{olId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ylm.pojo.DcSysOperateLogExample" >
    delete from dc_sys_operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ylm.pojo.DcSysOperateLog" >
    insert into dc_sys_operate_log (ol_id, ol_type, ol_module, 
      ol_content, admin_id, ol_add_date, 
      ol_ip, ol_remarks)
    values (#{olId,jdbcType=INTEGER}, #{olType,jdbcType=VARCHAR}, #{olModule,jdbcType=VARCHAR}, 
      #{olContent,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}, #{olAddDate,jdbcType=TIMESTAMP}, 
      #{olIp,jdbcType=VARCHAR}, #{olRemarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylm.pojo.DcSysOperateLog" >
    insert into dc_sys_operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="olId != null" >
        ol_id,
      </if>
      <if test="olType != null" >
        ol_type,
      </if>
      <if test="olModule != null" >
        ol_module,
      </if>
      <if test="olContent != null" >
        ol_content,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="olAddDate != null" >
        ol_add_date,
      </if>
      <if test="olIp != null" >
        ol_ip,
      </if>
      <if test="olRemarks != null" >
        ol_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="olId != null" >
        #{olId,jdbcType=INTEGER},
      </if>
      <if test="olType != null" >
        #{olType,jdbcType=VARCHAR},
      </if>
      <if test="olModule != null" >
        #{olModule,jdbcType=VARCHAR},
      </if>
      <if test="olContent != null" >
        #{olContent,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="olAddDate != null" >
        #{olAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="olIp != null" >
        #{olIp,jdbcType=VARCHAR},
      </if>
      <if test="olRemarks != null" >
        #{olRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylm.pojo.DcSysOperateLogExample" resultType="java.lang.Integer" >
    select count(*) from dc_sys_operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_sys_operate_log
    <set >
      <if test="record.olId != null" >
        ol_id = #{record.olId,jdbcType=INTEGER},
      </if>
      <if test="record.olType != null" >
        ol_type = #{record.olType,jdbcType=VARCHAR},
      </if>
      <if test="record.olModule != null" >
        ol_module = #{record.olModule,jdbcType=VARCHAR},
      </if>
      <if test="record.olContent != null" >
        ol_content = #{record.olContent,jdbcType=VARCHAR},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.olAddDate != null" >
        ol_add_date = #{record.olAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.olIp != null" >
        ol_ip = #{record.olIp,jdbcType=VARCHAR},
      </if>
      <if test="record.olRemarks != null" >
        ol_remarks = #{record.olRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_sys_operate_log
    set ol_id = #{record.olId,jdbcType=INTEGER},
      ol_type = #{record.olType,jdbcType=VARCHAR},
      ol_module = #{record.olModule,jdbcType=VARCHAR},
      ol_content = #{record.olContent,jdbcType=VARCHAR},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      ol_add_date = #{record.olAddDate,jdbcType=TIMESTAMP},
      ol_ip = #{record.olIp,jdbcType=VARCHAR},
      ol_remarks = #{record.olRemarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylm.pojo.DcSysOperateLog" >
    update dc_sys_operate_log
    <set >
      <if test="olType != null" >
        ol_type = #{olType,jdbcType=VARCHAR},
      </if>
      <if test="olModule != null" >
        ol_module = #{olModule,jdbcType=VARCHAR},
      </if>
      <if test="olContent != null" >
        ol_content = #{olContent,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="olAddDate != null" >
        ol_add_date = #{olAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="olIp != null" >
        ol_ip = #{olIp,jdbcType=VARCHAR},
      </if>
      <if test="olRemarks != null" >
        ol_remarks = #{olRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ol_id = #{olId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylm.pojo.DcSysOperateLog" >
    update dc_sys_operate_log
    set ol_type = #{olType,jdbcType=VARCHAR},
      ol_module = #{olModule,jdbcType=VARCHAR},
      ol_content = #{olContent,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      ol_add_date = #{olAddDate,jdbcType=TIMESTAMP},
      ol_ip = #{olIp,jdbcType=VARCHAR},
      ol_remarks = #{olRemarks,jdbcType=VARCHAR}
    where ol_id = #{olId,jdbcType=INTEGER}
  </update>
</mapper>