<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylm.mapper.DcUserMapper" >
  <resultMap id="BaseResultMap" type="com.ylm.pojo.DcUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="accumulate_points" property="accumulatePoints" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="member_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="user_is_del" property="userIsDel" jdbcType="INTEGER" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_coupon" property="userCoupon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, user_phone, accumulate_points, balance, member_level, user_is_del, 
    user_password, user_coupon
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ylm.pojo.DcUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dc_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    UPDATE dc_user
    SET user_is_del = 1
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ylm.pojo.DcUserExample" >
    delete from dc_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ylm.pojo.DcUser" >
    insert into dc_user (user_id, user_name, user_phone, 
      accumulate_points, balance, member_level, 
      user_is_del, user_password, user_coupon
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{accumulatePoints,jdbcType=INTEGER}, #{balance,jdbcType=INTEGER}, #{memberLevel,jdbcType=VARCHAR}, 
      #{userIsDel,jdbcType=INTEGER}, #{userPassword,jdbcType=VARCHAR}, #{userCoupon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylm.pojo.DcUser" >
    insert into dc_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="accumulatePoints != null" >
        accumulate_points,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="memberLevel != null" >
        member_level,
      </if>
      <if test="userIsDel != null" >
        user_is_del,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userCoupon != null" >
        user_coupon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="accumulatePoints != null" >
        #{accumulatePoints,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="memberLevel != null" >
        #{memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="userIsDel != null" >
        #{userIsDel,jdbcType=INTEGER},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCoupon != null" >
        #{userCoupon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylm.pojo.DcUserExample" resultType="java.lang.Integer" >
    select count(*) from dc_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.accumulatePoints != null" >
        accumulate_points = #{record.accumulatePoints,jdbcType=INTEGER},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=INTEGER},
      </if>
      <if test="record.memberLevel != null" >
        member_level = #{record.memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.userIsDel != null" >
        user_is_del = #{record.userIsDel,jdbcType=INTEGER},
      </if>
      <if test="record.userPassword != null" >
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userCoupon != null" >
        user_coupon = #{record.userCoupon,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_user
    set user_id = #{record.userId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      accumulate_points = #{record.accumulatePoints,jdbcType=INTEGER},
      balance = #{record.balance,jdbcType=INTEGER},
      member_level = #{record.memberLevel,jdbcType=VARCHAR},
      user_is_del = #{record.userIsDel,jdbcType=INTEGER},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      user_coupon = #{record.userCoupon,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylm.pojo.DcUser" >
    update dc_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="accumulatePoints != null" >
        accumulate_points = #{accumulatePoints,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="memberLevel != null" >
        member_level = #{memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="userIsDel != null" >
        user_is_del = #{userIsDel,jdbcType=INTEGER},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCoupon != null" >
        user_coupon = #{userCoupon,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylm.pojo.DcUser" >
    update dc_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      accumulate_points = #{accumulatePoints,jdbcType=INTEGER},
      balance = #{balance,jdbcType=INTEGER},
      member_level = #{memberLevel,jdbcType=VARCHAR},
      user_is_del = #{userIsDel,jdbcType=INTEGER},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_coupon = #{userCoupon,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="deleteByPrimaryKeys" parameterType="java.util.List">
    UPDATE dc_user
    SET user_is_del = 1
    WHERE dc_user.user_id in
    <foreach collection="list" index="index" item="item"
             separator="," open="(" close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>